<div class="splash">
  <div class="col-lg-4"></div>
  <div class="col-lg-4 col-xs-9 log-in">
    <h1>Welcome to the DBC PairBoard</h1>
    <div class="splash-buttons">
      <%= link_to "Login", login_path, class: "btn btn-info btn-lg" %>
      <%= link_to "Register", new_user_path, class: "btn btn-info btn-lg" %>
    </div>
  </div>
  <div class="col-lg-4"></div>
</div>