    <ul class='nav nav-pills'>
      <li><button type='button' class='btn btn-default'>BOB</button></li>
      <li><a href='#'>9:00</a></li>
      <li><a href='#' class='9:30' id='1'>9:30</a></li>
      <li><a href='#'>10:00</a></li>
      <li><a href='#'>10:30</a></li>
      <li><a href='#'>11:30</a></li>
      <li><a href='#'>12:00</a></li>
      <li><a href='#'>12:30</a></li>
      <li><a href='#'>1:00</a></li>
      <li><a href='#'>1:30</a></li>
      <li><a href='#'>2:30</a></li>
      <li><a href='#'>3:00</a></li>
      <li><a href='#'>3:30</a></li>
      <li><a href='#'>4:00</a></li>
      <li><a href='#'>4:30</a></li>
    </ul>


