<h2>DBC Pair Board</h2>

<div id='offer-to-mentor'>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" name='Offer To Mentor'>Offer To Mentor</button>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Offering</h4>
      </div>
      <div class="modal-body">
        <%= render 'form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</div>
<br>
<br>


<div class="container">
  <h3>Get Yourself Some Knowledge</h3>


  <ul class='nav nav-pills'>
    <% Offering::AVAILABLE_OFFERING_TIMES.each do |time| %>
      <% if current_user.is_offering?(time) %>
        <li class="active"><a href='#'><%= time %></a></li>
      <% else %>
        <li><a href='#'><%= time %></a></li>
      <% end %>
    <% end %>
  </ul>

    <ul class='nav nav-pills'>
      <li><button type='button' class='btn btn-default'>BOB</button></li>
      <li><a href='#'>9:30</a></li>
      <li><a href='#'>10:00</a></li>
      <li><a href='#'>10:30</a></li>
      <li><a href='#'>11:30</a></li>
      <li><a href='#'>12:00</a></li>
      <li><a href='#'>12:30</a></li>
      <li><a href='#'>1:00</a></li>
      <li><a href='#'>1:30</a></li>
      <li><a href='#'>2:30</a></li>
      <li><a href='#'>3:00</a></li>
      <li><a href='#'>3:30</a></li>
      <li><a href='#'>4:00</a></li>
      <li><a href='#'>4:30</a></li>
    </ul>

</div>
