<h1><%=@user.name%>'s Conversations!</h1>
<!-- We have an array of people who have sent the user messages.
  .conversations.messages.s


 params has user_id -->
<div class="row">
  wwwwww
  <% user_id = @user.id %>
  <% @senders_array.each do |sender| %>
   <%= sender %>
    <%=link_to "#{sender.name}", user_conversation_path(current_user, Conversation.get_conversation_by_sender(sender, current_user)) %>
  <% end %>
</div>

